.button {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 4px 4px 4px 20px;
  border-radius: 30px;
  border: 1px solid $color-additional;
  color: $color-additional;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;
  background: transparent;
  text-transform: uppercase;

  &::after {
    content: "";
    display: flex;
    width: 34px;
    height: 34px;
    background: $color-additional;
    border-radius: 50%;
    background-image: url("/__spritemap#sprite-arrow-view");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 10px;
    flex-shrink: 0;
  }

  @media (min-width: $tablet-width) {
    gap: 30px;
    padding: 4px 4px 4px 30px;
    font-size: 14px;
    line-height: 14px;

    &::after {
      width: 46px;
      height: 46px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 5px 5px 5px 30px;
  }
}
