.button {
  display: flex;
  max-width: max-content;
  align-items: center;
  gap: 20px;
  padding: 4px 4px 4px 21px;
  border-radius: 30px;
  border: 1px solid $color-additional;
  color: $color-additional;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;
  background: transparent;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background: $color-additional;
    border-radius: 50%;
    background-image: url("/__spritemap#sprite-arrow-view");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 10px;
  }
}
