.button {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 4px 4px 4px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;
  background-color: transparent;
  text-transform: uppercase;
  transition: all $trans-default;
  cursor: pointer;

  &::after {
    content: "";
    display: flex;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    mask-image: url("/__spritemap#sprite-arrow-view");
    mask-size: 10px 10px;
    mask-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    gap: 30px;
    padding: 4px 4px 4px 30px;
    font-size: 14px;
    line-height: 14px;

    &::after {
      width: 46px;
      height: 46px;
    }

    &::before {
      right: 22px;
    }
  }
}

.button:disabled,
.button--disabled {
  border: 1px solid $color-disabled;
  background-color: transparent;
  color: $color-disabled;
  pointer-events: none;

  &::before {
    mask-image: url("/__spritemap#sprite-arrow-view");
    background-color: $color-white;
  }

  &::after {
    background-color: $color-disabled;
  }
}

.button--primary {
  border: 1px solid $color-additional;
  color: $color-additional;

  &::after {
    background-color: $color-additional;
  }

  &::before {
    background-color: $color-white;
  }

  &:hover {
    background-color: $color-additional;
    color: $color-white;

    &::after {
      background-color: $color-white;
    }

    &::before {
      background-color: $color-additional;
      transform: rotate(45deg);
      top: unset;
    }
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    background-color: transparent;
    color: $color-additional;

    &::after {
      background-color: $color-additional;
    }

    &::before {
      background-color: $color-white;
      transform: rotate(45deg);
      top: unset;
    }
  }

  &:active {
    background-color: $color-additional;
    color: hsla(0, 0%, 100%, 0.7);

    &::after {
      background-color: $color-white;
    }

    &::before {
      background-color: $color-additional;
      opacity: 0.7;
    }
  }
}

.button--secondary {
  border: 1px solid $color-white;
  color: $color-white;

  &::after {
    background-color: $color-white;
  }

  &::before {
    background-color: $color-additional;
  }

  &:hover {
    background-color: $color-white;
    color: $color-additional;

    &::after {
      background-color: $color-additional;
    }

    &::before {
      background-color: $color-white;
      transform: rotate(45deg);
      top: unset;
    }
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    background-color: transparent;
    color: $color-white;

    &::after {
      background-color: $color-white;
    }

    &::before {
      background-color: $color-additional;
      transform: rotate(45deg);
      top: unset;
    }
  }

  &:active {
    background-color: $color-white;
    color: hsla(215, 60%, 48%, 0.7);

    &::after {
      background-color: $color-additional;
    }

    &::before {
      background-color: $color-white;
      opacity: 0.7;
    }
  }
}
