.contacts {
  background-color: $color-additional;
}

.contacts__container {
  padding-top: 76px;
  padding-bottom: 70px;

  @media (min-width: $tablet-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.contacts__head {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-bottom: 30px;
  border-bottom: 2px solid hsla(0, 0%, 100%, 0.2);
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    gap: 31px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}

.contacts__title {
  @include title;

  color: $color-white;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 21px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    gap: 10px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    gap: 52.5px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  gap: 14px;

  span {
    display: block;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: $color-main;
    opacity: 0.8;
  }

  p {
    margin: 0;
    color: $color-white;
  }

  a {
    color: $color-white;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible {
      color: $color-dark;
      text-decoration: underline;
      text-underline-offset: 5px;
      opacity: 1;
    }

    &:active {
      color: $color-white;
      text-decoration: underline;
      text-underline-offset: 5px;
      opacity: 1;
    }
  }

  @media (min-width: $tablet-width) {
    gap: 23px;
  }

  @media (min-width: $desktop-width) {
    max-width: 263px;
    gap: 20px;

    &:first-child {
      gap: 24px;
    }
  }
}

.contacts__map {
  display: block;
  width: 290px;
  height: 240px;

  img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 16px;
  }

  @media (min-width: $tablet-width) {
    width: 678px;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 1240px;
    height: 486px;
  }
}
