.form--main {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding: 50px 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 100px;
  }
}

.form__container {
  width: 100%;
  height: auto;
  background-image:
    image-set(
      url("/img/form/background-mobile.webp") type("image/webp") 1x,
      url("/img/form/background-mobile@2x.webp") type("image/webp") 2x,
      url("/img/form/background-mobile.jpg") type("image/jpg") 1x,
      url("/img/form/background-mobile@2x.jpg") type("image/jpg") 2x
    );
  background-repeat: no-repeat;
  background-size: cover;
  padding: 43px 10px 40px;

  @media (min-width: $tablet-width) {
    width: 652px;
    margin: 0 auto;
    border-radius: 16px;
    background-image:
      image-set(
        url("/img/form/background-tablet.webp") type("image/webp") 1x,
        url("/img/form/background-tablet@2x.webp") type("image/webp") 2x,
        url("/img/form/background-tablet.jpg") type("image/jpg") 1x,
        url("/img/form/background-tablet@2x.jpg") type("image/jpg") 2x
      );
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1240px;
    background-image:
      image-set(
        url("/img/form/background-desktop.webp") type("image/webp") 1x,
        url("/img/form/background-desktop@2x.webp") type("image/webp") 2x,
        url("/img/form/background-desktop.jpg") type("image/jpg") 1x,
        url("/img/form/background-desktop@2x.jpg") type("image/jpg") 2x
      );
  }
}

.form__wrapper {
  width: 300px;
  background-color: $color-additional;
  border-radius: 16px;
  margin: 0 auto;
  padding: 15px 15px 27px;
  color: $color-main;

  @media (min-width: $tablet-width) {
    width: 442px;
    margin: 0;
    margin-right: auto;
    padding: 41px 40px 36px;
  }

  @media (min-width: $desktop-width) {
    width: 490px;
    padding: 44px 70px 40px;
  }
}

.form__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: $color-white;
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 34px;
  }
}

.form__description {
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.form__item {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }
}

.form__form .form__item {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    &:nth-child(3n) {
      margin-bottom: 18px;
    }
  }
}

.form__item label,
.form__item--textarea {
  display: flex;
  flex-direction: column-reverse;

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.form__label {
  font-size: 14px;
  line-height: 14px;
  opacity: 0.8;
  margin-bottom: 8px;

  &:hover,
  &:focus-visible {
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
  }
}

.form__label--main {
  font-size: 12px;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
  }
}

.form__label--modal {
  font-size: 14px;
  margin-bottom: 8px;
}

.form__label--description {
  margin-bottom: 0;
}

.form__input,
.form__select {
  border-radius: 8px;
  font-size: 14px;
  line-height: 18px;
  appearance: unset;
  outline: none;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    padding: 15px 24px;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.form__input--modal {
  border: 1px solid hsla(0, 0%, 28%, 0.3);
  color: $color-dark;
  padding: 12px 24px;

  @media (min-width: $tablet-width) {
    padding: 15px 24px;
  }

  &:hover,
  &:focus-visible,
  &:active {
    border: 1px solid $color-dark;

    ~ .form__label {
      opacity: 1;
    }
  }

  &:disabled {
    border: 1px solid hsla(214, 9%, 69%, 0.5);
    background-color: hsla(214, 9%, 69%, 0.2);
    pointer-events: none;

    ~ .form__label {
      opacity: 0.6;
    }
  }
}

.form__input--main {
  border: 1px solid  hsla(0, 0%, 100%, 0.3);
  color: $color-white;
  padding: 15px 24px;

  &:hover,
  &:focus-visible,
  &:active {
    border: 1px solid $color-white;

    ~ .form__label {
      opacity: 1;
    }
  }

  &:disabled {
    border: 1px solid $color-white;
    background-color: hsla(0, 0%, 100%, 0.2);
    pointer-events: none;
    opacity: 0.4;

    ~ .form__label {
      opacity: 0.6;
    }
  }
}

.form__input--message {
  padding: 19px 24px;
  resize: none;

  @media (min-width: $tablet-width) {
    padding: 16px 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 17px 24px;
  }
}

.form__checkbox {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;
  }
}

.form__checkbox--main {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.form__checkbox-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 6px 4px;
  border-radius: 2px;
  border: 1px solid transparent;
  appearance: unset;
  flex-shrink: 0;
  cursor: pointer;
}

.form__checkbox-input:checked::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: $color-white;
  mask-image: url("/__spritemap#sprite-check-view");
}

.form__checkbox-input--main:checked::after {
  background-color: $color-additional;
}

.form__checkbox-input--main {
  background-color: $color-white;

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:hover,
  &:focus-visible {
    border: 1px solid $color-white;
    background-color: transparent;
  }

  &:disabled {
    border: 1px solid $color-white;
    background-color: hsla(0, 0%, 100%, 0.6);
  }
}

.form__checkbox-input--modal {
  background-color: $color-additional;

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:hover,
  &:focus-visible {
    border: 1px solid $color-additional;
    background-color: transparent;
  }

  &:disabled {
    border: 1px solid $color-additional;
    background-color: hsla(215, 60%, 48%, 0.6);
  }
}

.form__checkbox-input--modal:hover:checked::after,
.form__checkbox-input--modal:focus-visible:checked::after {
  background-color: $color-additional;
  border: 1px solid $color-additional;
}

.form__checkbox-input--main:hover:checked::after,
.form__checkbox-input--main:focus-visible:checked::after {
  background-color: $color-white;
  border: 1px solid $color-white;
}

.form__checkbox-input:disabled:checked {
  background-color: $color-checkbox-disabled;
  border: 1px solid transparent;

  &::after {
    background-color: $color-white;
    opacity: 0.7;
  }
}

.form__checkbox-label {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    line-height: 12px;

    br {
      display: none;
    }
  }
}

.form__input--error {
  border: 1px solid #ff5e66;
  background-color: hsla(357, 100%, 68%, 0.2);

  .form__label {
    opacity: 1;
  }
}

.form__button {
  position: relative;

  @media (max-width: $mobile-width) {
    width: 100%;
    justify-content: end;
    gap: 75px;
    padding: 4px 3px 2px 20px;

    &::before {
      right: 15px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 3px 4px 3px 30px;
    margin: 0 auto;
  }
}

.form__button--main {
  padding: 4px 4px 4px 20px;
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 352px;
    margin: 0;
    justify-content: end;
    gap: 108px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    gap: 108px;
  }
}

.form__custom-select {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 15px;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    mask-image: url("/__spritemap#sprite-arrow-dropdown-view");
    background-color: $color-dark;
    transform: rotate(180deg);
    transition: transform $trans-default;
    position: absolute;
    bottom: 14px;
    right: 20px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;

    &::after {
      bottom: 16px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      bottom: 17px;
    }

    .form__label--main {
      margin-bottom: 10px;
    }
  }
}

.form__custom-select--main::after {
  background-color: $color-white;
  bottom: 18px;
  right: 31px;

  @media (min-width: $tablet-width) {
    right: 21px;
  }
}

.form__custom-select:has(>.form__select-items--opened) {
  &::after {
    transform: rotate(0deg);
    transition: transform $trans-default;
  }
}

.form__input--place {
  display: block;
  width: 100%;
}

.form__input--place-main {
  display: block;
  width: 260px;
  padding: 16px 24px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.form__input--place-main,
.form__input--place-modal {
  caret-color: transparent;
  cursor: pointer;
}

.form__custom-select select {
  display: none;
}

.form__item .form__label--place {
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
  }
}

.form__select-items {
  position: absolute;
  background-color: $color-white;
  z-index: 3;
  display: none;
  width: 100%;
  border: 1px solid $color-dark;
  border-radius: 8px;
  bottom: -197px;
}

.form__select-items--opened {
  display: block;
}

.form__select-items div {
  display: block;
  padding: 15px 20px;
  font-size: 14px;
  line-height: 18px;
  color: $color-dark;
  cursor: pointer;

  &:hover {
    color: $color-additional;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible,
  &:active {
    background-color: $color-additional;
    color: $color-white;
  }
}

.form__select-items div:first-child {
  display: none;
}
