.grant {
  background-color: $color-additional;
}

.grant__container {
  padding-top: 71px;
  padding-bottom: 70px;
  color: $color-white;

  @media (min-width: $tablet-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    gap: 138px;
  }
}

.grant__head {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    flex-shrink: 0;
    margin-bottom: 0;
    max-width: 498px;
  }
}

.grant__title {
  @include title;

  color: $color-white;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.grant__head p {
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    max-width: 498px;
    margin-bottom: 40px;
    color: $color-main;
  }
}

.grant__image {
  display: block;
  width: 100%;
  height: 100%;

  img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }

  @media (min-width: $desktop-width) {
    height: auto;

    img {
      height: auto;
    }
  }
}

.grant__info {
  max-width: 220px;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    max-width: 636px;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    max-width: 373px;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 55px;
  }
}

.grant__list {
  @include list;

  counter-reset: section;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 25px 28px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }
}

.grant__item {
  border: 1px solid $color-main;
  border-radius: 16px;
  padding: 24px 25px;
  position: relative;
  margin-left: 15px;

  br {
    display: none;
  }

  &::before {
    content: counter(section);
    counter-increment: section;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -6px;
    left: -16px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    background-color: $color-additional;
  }

  @media (min-width: $tablet-width) {
    padding: 30px 24px;
    margin-left: 20px;

    br {
      display: block;
    }

    &::before {
      width: 42px;
      height: 42px;
      position: absolute;
      top: -16px;
      left: -21px;
      font-size: 22px;
      line-height: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 30px 26px 30px 24px;

    br {
      display: none;
    }
  }
}

.grant__item p {
  color: $color-main;
  margin: 0;

  @media (min-width: $desktop-width) {
    max-width: 426px;
  }
}

.grant__steps {
  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }
}
