.nav {
  display: flex;
  flex-direction: column;
  transition: all $trans-default;
}

.nav__button {
  display: flex;
  padding: 3px 4px 3px 21px;
  gap: 20px;
  align-items: center;
  border-radius: 30px;
  border: 1px solid $color-additional;
  background: $color-white;
  color: $color-additional;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  justify-content: space-between;
  width: 100%;
  transition: all $trans-default;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    width: 46px;
    height: 46px;
    background: $color-additional;
    border-radius: 50%;
    background-image: url("/__spritemap#sprite-burger-view");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 8px;
  }
}

.nav__button--open {
  border: 1px solid $color-additional;
  background: $color-additional;
  color: $color-white;

  &::after {
    background: $color-white;
    background-image: url("/__spritemap#sprite-cross-view");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
  }
}

.nav__list {
  overflow: auto;
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  transition: width $trans-default, max-height $trans-default, opacity $trans-default, visibility $trans-default, margin-top $trans-default;
}

.nav__list--opened {
  @include list;

  display: flex;
  flex-direction: column;
  width: 290px;
  height: auto;
  overflow: unset;
  padding: 35px 25px;
  background: $color-additional;
  border-radius: 16px;
  margin-top: 4px;
  gap: 28px;
  opacity: 1;
  visibility: visible;
  transition: width $trans-default, opacity $trans-default, visibility $trans-default, margin-top $trans-default;
}

.nav__link {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-white;
  opacity: 0.7;
}

.nav__dropdown {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform $trans-default;

  &::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-image: url("/__spritemap#sprite-arrow-dropdown-view");
    background-repeat: no-repeat;
    transform: rotate(180deg);
    transition: transform $trans-default;
  }

  &--active::after {
    transform: rotate(0deg);
  }
}

.nav__submenu {
  @include list;

  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height $trans-default, opacity $trans-default, visibility $trans-default;
}

.nav__submenu--active {
  overflow: hidden;
  max-height: 0;
  opacity: 1;
  visibility: visible;
  transition: max-height $trans-default, opacity $trans-default, visibility $trans-default;
}

.nav__submenu-item:first-child {
  margin-top: 20px;
}

.nav__submenu-link {
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: $color-white;
  opacity: 0.7;
}
