// .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
//   display: block;
//   width: 8px;
//   height: 8px;
//   border: 2px solid $color-additional;
//   border-radius: 50%;
//   background-color: transparent;
//   transition: background-color $trans-default;
//   cursor: pointer;
//   padding: 0;

//   &:hover {
//     border: 2px solid $color-white;
//     background-color: $color-additional;
//     opacity: 0.7;
//   }

//   &:focus,
//   &:focus-visible {
//     outline: none;
//   }

//   &:focus-visible {
//     background-color: $color-additional;
//     border: none;
//     opacity: 1;
//   }

//   &:active {
//     background-color: $color-action;
//     border: none;
//   }

//   @media (min-width: $tablet-width) {
//     width: 12px;
//     height: 12px;
//   }

//   // @include hover {
//   //   border-color: $color-primary-darker;
//   //   outline: none;

//   //   &:active {
//   //     background-color: $color-primary;
//   //     outline: none;
//   //   }
//   // }

//   // &:active {
//   //   background-color: $color-primary;
//   //   outline: none;
//   // }

//   // &:focus,
//   // &:focus-visible {
//   //   border-color: $color-primary-darker;
//   // }
// }

// .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
//   background-color: $color-action;
//   border: none;
// }

.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: flex;
  width: 26px;
  height: 26px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $color-additional;
  border-radius: 50%;
  opacity: 0.5;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  transition: all $trans-default;
  flex-shrink: 0;
  transform: scale(1);

  @media (min-width: $tablet-width) {
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 20px;
  }

  &:hover {
    opacity: 1;
    border: 2px solid $color-additional;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    opacity: 1;
    border: 2px solid $color-additional;
    background-color: $color-white;
  }

  &:active {
    opacity: 1;
    border: 2px solid $color-action;
    background-color: $color-action;
    color: $color-white;
  }
}

.swiper-pagination-bullets .swiper-pagination-bullets-dynamic {
  transform: none;

  --swiper-pagination-bullet-horizontal-gap: 0;
}

.swiper-pagination-bullet .swiper-pagination-bullet-active-next,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  background-color: $color-additional;
  color: $color-white;
  font-weight: 500;
  opacity: 1;
  transform: scale(1);

  &:hover {
    opacity: 1;
    border: 2px solid $color-additional;
    background-color: transparent;
    color: $color-additional;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    opacity: 1;
    border: 2px solid $color-additional;
    background-color: $color-white;
    color: $color-additional;
  }

  &:active {
    opacity: 1;
    border: 2px solid $color-action;
    background-color: $color-action;
    color: $color-white;
  }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active-main + .swiper-pagination-bullet-active-next {
  transform: none;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active-next + .swiper-pagination-bullet-active-next-next {
  transform: none;
}
