@mixin list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin angle {
  display: block;
  width: 10px;
  height: 10px;
  mask-image: url("/__spritemap#sprite-angle-view");
  mask-repeat: no-repeat;
  mask-size: 10px 10px;
  position: absolute;
  background: $color-white;
}

@mixin title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: $color-additional;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 34px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
  }
}

@mixin swiper-button {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: all $trans-default;

  svg {
    color: $color-additional;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    border: none;
    background: $color-white;
    opacity: 1;

    svg {
      color: $color-additional;
    }
  }

  &:active {
    background: $color-white;

    svg {
      opacity: 0.7;
    }
  }

  &:disabled {
    background-color: transparent;
    pointer-events: none;

    svg {
      color: $color-disabled;
    }
  }
}
