// Fonts
$main-font: "Manrope", "Arial", sans-serif;

// Colors
$color-main: #f0efe9;
$color-white: #ffffff;
$color-dark: #484848;
$color-additional: #316dc2;
$color-action: #275699;
$color-disabled: #a9afb7;
$color-error: #ff5e66;
$overlay-photo: hsla(215, 60%, 48%, 0.2);
$overlay-menu: hsla(215, 59%, 13%, 0.4);

// Animation
$tf-default: ease;
$trans-default: 0.3s $tf-default;
